.header {
  border-bottom: 1px solid var(--header-botton-color);
}
.header-container {
  @include flex-display(wrap, space-between, center);
  padding-bottom: 10px;
  padding-top: 10px;
  @media screen and (min-width: 768px) {
    padding-bottom: 21px;
    padding-top: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 24px;
    padding-top: 25px;
  }

}
.header-logo__back {
  color: var(--logo-header-back-color);
}
.menu__button-wrapper {
  width: 40px;
  height: 40px;
  @include flex-display(nowrap, center, center);
  @media screen and (min-width: 768px) {
    @include visually-hidden();
  }
}
.menu_button{
  background-color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  padding:0;
}
.menu__icon {
  width: 100%;
  height: 100%;
  fill: var(--body-fonts-main-color);
  cursor: pointer;
  @include transition(fill, var(--animation-time), cubic-bezier(0.4, 0, 0.2, 1));
  &:hover, 
  &:focus {
    fill:var(--active-link-fonts-color);
  }
}
.header-content__wrapper {
  @media screen and (max-width: 767px) {
    @include visually-hidden();    
  }
  @include flex-display(nowrap, space-between, center);
  @media screen and (min-width: 767px) {
    width: 515px;
  }
  @media screen and (min-width: 1200px) {
    width: 935px;
  }  
}

.header-navigation__list {
 @include flex-display (wrap, flex-start);

}
.header-navigation__item:not(:last-child) {
  margin-right: 50px;
}
.header-navigation__link {
  @include font-config(500, 14px, calc(16 / 14), 0.02em, var(--body-fonts-main-color));  
  vertical-align: top;
  text-align: left;
  &:hover,
  &:focus {
    color: var(--active-link-fonts-color);
  }
}
.current-page__link {
  position: relative;
  color: var(--active-link-fonts-color);
  &::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 2px;
    width: 100%;
    border-bottom: 4px solid var(--active-link-fonts-color);
    top: 47px;
    @media screen and (min-width:1200px){
      top: 46px;    
    }
  }
}
.header-contact__list {
  @include flex-display();
  flex-direction: column;
  @media screen and (min-width:1200px) {
    flex-direction:row;
  }
}
.header-contact__item:not(:last-child) {
  margin-bottom: 10px; 
  @media screen and (min-width:1200px) {
    margin-bottom: 0;
    margin-right: 30px; 
  }
}
.header-contact__link {
  @include flex-display(nowrap, flex-start, center);
  @include font-config(500, 12px, calc(14 / 12), 0.02em, var(--general-text-fonts-color));  
  vertical-align: top;
  @media screen and (min-width: 1200px) {
    @include font-config(500, 14px, calc(16 / 14), 0.02em, var(--general-text-fonts-color));  
  }
  &:hover,
  &:focus {
    color: var(--active-link-fonts-color);
  }
}
.header-contact__icon {
  margin-right: 10px;
  fill: var(--general-text-fonts-color);
  .header-contact__link:hover &,
  .header-contact__link:focus & {
    fill: var(--active-link-fonts-color);
  }
    &>use {
      width: 100%;
      height: 100%;
    }
}
.icon__smartphone{
  width: 10px;
  height: 14px;
  @media screen and (min-width:1200px) {
    width: 10px;
    height: 16px;  
  }
}
.icon__envelope {
  width: 14px;
  height: 10px;
  @media screen and (min-width:1200px) {
    width: 16px;
    height: 12px;  
  }

}
