.hero-section {
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover, cover;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/studio/hero-bg-mobile.jpg);
  background-image: -o-linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero-bg-mobile.jpg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero-bg-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/studio/hero-bg-mobile@2x.jpg);
    background-image: -o-linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/hero-bg-mobile@2x.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/hero-bg-mobile@2x.jpg);
  }
    @media screen and (min-width: 768px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/studio/hero-bg-tablet.jpg);
    background-image: -o-linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/hero-bg-tablet.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/hero-bg-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url(../images/studio/hero-bg-tablet@2x.jpg);
      background-image: -o-linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/hero-bg-tablet@2x.jpg);
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/hero-bg-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover, cover;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/studio/hero-bg-desktop.jpg);
    background-image: -o-linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/hero-bg-desktop.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/hero-bg-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(47, 48, 58, 0.4)),
          to(rgba(47, 48, 58, 0.4))
        ),
        url(../images/studio/hero-bg-desktop@2x.jpg);
      background-image: -o-linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/hero-bg-desktop@2x.jpg);
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/hero-bg-desktop@2x.jpg);
    }
  }
}
.hero-container {
  padding-bottom: 118px;
  padding-top: 118px;
  // margin-top: -60px;
  // margin-bottom: -60px;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover, cover;

  // background-image: -webkit-gradient(
  //     linear,
  //     left top,
  //     left bottom,
  //     from(rgba(47, 48, 58, 0.4)),
  //     to(rgba(47, 48, 58, 0.4))
  //   ),
  //   url(../images/studio/hero-bg-mobile.jpg);
  // background-image: -o-linear-gradient(
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../images/studio/hero-bg-mobile.jpg);
  // background-image: linear-gradient(
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../images/studio/hero-bg-mobile.jpg);
  // @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (-o-min-device-pixel-ratio: 2/1),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: -webkit-gradient(
  //       linear,
  //       left top,
  //       left bottom,
  //       from(rgba(47, 48, 58, 0.4)),
  //       to(rgba(47, 48, 58, 0.4))
  //     ),
  //     url(../images/studio/hero-bg-mobile@2x.jpg);
  //   background-image: -o-linear-gradient(
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../images/studio/hero-bg-mobile@2x.jpg);
  //   background-image: linear-gradient(
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../images/studio/hero-bg-mobile@2x.jpg);
  // }
  // @media screen and (min-width: 768px) {
  //   background-image: -webkit-gradient(
  //       linear,
  //       left top,
  //       left bottom,
  //       from(rgba(47, 48, 58, 0.4)),
  //       to(rgba(47, 48, 58, 0.4))
  //     ),
  //     url(../images/studio/hero-bg-tablet.jpg);
  //   background-image: -o-linear-gradient(
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../images/studio/hero-bg-tablet.jpg);
  //   background-image: linear-gradient(
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../images/studio/hero-bg-tablet.jpg);
  //   @media (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (-o-min-device-pixel-ratio: 2/1),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: -webkit-gradient(
  //         linear,
  //         left top,
  //         left bottom,
  //         from(rgba(47, 48, 58, 0.4)),
  //         to(rgba(47, 48, 58, 0.4))
  //       ),
  //       url(../images/studio/hero-bg-tablet@2x.jpg);
  //     background-image: -o-linear-gradient(
  //         rgba(47, 48, 58, 0.4),
  //         rgba(47, 48, 58, 0.4)
  //       ),
  //       url(../images/studio/hero-bg-tablet@2x.jpg);
  //     background-image: linear-gradient(
  //         rgba(47, 48, 58, 0.4),
  //         rgba(47, 48, 58, 0.4)
  //       ),
  //       url(../images/studio/hero-bg-tablet@2x.jpg);
  //   }
  // }
  @media screen and (min-width: 1200px) {
    padding-bottom: 106px;
    padding-top: 106px;
    margin-bottom: 0;
    margin-top: 0;
    background: none;

  }
}
.hero-section__title {
  @include font-config(
    900,
    26px,
    calc(42 / 26),
    0.06em,
    var(--body-fonts-onbackgraund-color)
  );
  vertical-align: top;
  max-width: 360px;
  @media screen and (min-width: 1200px) {
    @include font-config(
      900,
      44px,
      1.36,
      0.06em,
      var(--body-fonts-onbackgraund-color)
    );
    max-width: 696px;
  }
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px;
}
