.regcustomers__list {
  @include flex-display(wrap, center);
  margin-left: var(--horisondal-content-offset-negative);
}
.regcustomers__item {
  height: 92px;
  flex-basis: calc(320px - 30px);
  @media screen and (min-width: 480px) {
    @include flex-basis(2);
  }
  @media screen and (min-width: 768px) {
    @include flex-basis(3);
  }
  @media screen and (min-width: 1200px) {
    @include flex-basis(6);
  }
  margin-left: var(--horisondal-content-offset-positive);
  margin-top: var(--vertical-content-offset-positive);
}
.regcustomers__link {
  @include flex-display(nowrap, center, center);
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-svg-color);
  padding-top: 15px;
  padding-bottom: 15px;
  @include transition(border-color, var(--animation-time), cubic-bezier(0.4, 0, 0.2, 1));
  &:hover,
  &:focus {
    border-color: var(--active-link-fonts-color);
  }
}
.regcustomers__icon {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  @include transition(fill, var(--animation-time), cubic-bezier(0.4, 0, 0.2, 1));
  .regcustomers__link:hover &,
  .regcustomers__link:focus & {
    fill: var(--active-link-fonts-color);
  }
}
