.superiority-section__title {
  @include visually-hidden();
}

.superiority-set__list {
  margin-left: var(--horisondal-content-offset-negative);
  margin-top: var(--vertical-content-offset-negative);
  @media screen and (min-width: 768px) {
    @include flex-display(wrap);    
  }
}
.superiority-set__item {
  margin-top: var(--horisondal-content-offset-positive);
  margin-left: var(--horisondal-content-offset-positive);
  @media screen and (min-width: 768px) {
    @include flex-basis(2);
  }
  @media screen and (min-width: 1200px) {
    @include flex-basis(4);
  }
}
.superiority-set__img-block {
  background-color: var(--body-additional-color);
  @include flex-display(nowrap, center, center);
  margin-bottom: 30px;
}
.superiority-set__img {
  height: 70px;
  width: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.superiority-set__title {
  @include font-config(700, 14px, calc(16 / 14), 0.03em, var(--body-fonts-main-color));  
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.superiority-set__after-title {
  @include font-config(400, 14px, 1.71, 0.03em, var(--general-text-fonts-color));
}
