.team-section {
  background-color: var(--body-additional-color);
}
.team-member__list {
  @media screen and (min-width: 768px){
    @include flex-display(wrap);
    margin-left:  var(--horisondal-content-offset-negative);      
  }
}

.team-member__items {
  margin-top: var(--vertical-content-offset-positive);
  padding-bottom: 24px;
  background-color: var(--cards-background-color);
  width: 100%;
  @include box-shadow(0 4px 4px 0 rgba(0, 0, 0, 0.25));
  @media screen and (min-width: 768px) {
    @include flex-basis(2);
    margin-left: var(--horisondal-content-offset-positive);  
  }
  @media screen and (min-width: 1200px) {
    @include flex-basis(4);
  }
}
.team-member__caption {
  margin-top: var(--vertical-content-offset-positive);
}
.team-member__name {
  @include font-config(500, 16px, calc(19 / 16), 0.03em, var(--body-fonts-main-color));
  text-align: center;
  vertical-align: top;
  margin-bottom: 10px;
}
.team-member__positions {
  @include font-config(400, 16px, calc(19 / 16), 0.03em, var(--general-text-fonts-color));
  text-align: center;
  vertical-align: top;
  margin-bottom: 16px;
}