@mixin box-shadow($v1, $v2, $v3, $v4, $v5) {
  webkit-box-shadow: $v1 $v2 $v3 $v4 $v5;
    box-shadow: $v1 $v2 $v3 $v4 $v5;
}
@mixin flex-basis($v: 4) {
  -ms-flex-preferred-size: calc(100% / #{$v} - var(--horisondal-content-offset-positive));
     flex-basis: calc(100% / #{$v} - var(--horisondal-content-offset-positive));
}
@mixin flex-display($wrp: nowrap, $jc: flex-start, $ai:flex-start) {
  display: -webkit-box;
    display: -ms-flexbox;
      display: flex;
  -ms-flex-wrap: $wrp;
    flex-wrap: $wrp;
  -webkit-box-pack: $jc;
    -ms-flex-pack: $jc;
      justify-content: $jc;
  -webkit-box-align: $ai;
      -ms-flex-align: $ai;
          align-items: $ai;
}
@mixin font-config ($fw, $fs, $lh, $ls, $clr) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: $clr;
}
@mixin transition($what, $atime, $func) {
  -webkit-transition: $what $atime $func;
  -o-transition: $what $atime $func;
  transition: $what $atime $func;
}
@mixin transform($v) {
  -webkit-transform: $v;
  -ms-transform: $v;
      transform: $v;
}
@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

