.product-buttom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.product-buttom__item:not(:last-child) {
  margin-right: 8px;
}

.product-buttom__config {
  cursor: pointer;
  @include font-config(500, 16px, 1.62, 0.03em, var(--body-fonts-main-color));
  text-align: center;
  border: 0;
  border-radius: 4px;
  background-color: var(--body-additional-color);
  padding: 6px 22px;
  -webkit-transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
          background-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
          -webkit-box-shadow var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
    transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
            background-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
            -webkit-box-shadow var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
              background-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
        transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
                background-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
          transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
                  background-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
                  box-shadow var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1),
                  -webkit-box-shadow var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--active-btn-fonts-color);
    background-color: var(--active-btn-background-color);
    -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.12),
           0px 1px 2px 0 rgba(0, 0, 0, 0.8), 0px 3px 1px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.12),
             0px 1px 2px 0 rgba(0, 0, 0, 0.8), 0px 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
}