.socials__list {
  @include flex-display(nowrap, center);
}
.socials__item {
  height: 44px;
  width: 44px;
  .socials__item + & {
    margin-left: 10px;
  }
}
.socials__link {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  @include flex-display(nowrap, center, center);
  @include transition (background-color var(--animation-time)
  cubic-bezier(0.4, 0, 0.2, 1));
  &:hover,
  &:focus {
    background-color: var(--active-btn-background-color);
  }
}
.socials__icon {
  fill: var(--main-svg-color);
  width: 20px;
  height: 20px;
  @include transition(fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1));
  .socials__link:hover &,
  .socials__link:focus & {
    fill: var(--body-fonts-onbackgraund-color);
  }
}