:root {
    /*fonts colours */
    --body-fonts-main-color: #212121;
    --body-fonts-onbackgraund-color: #ffffff;
    --general-text-fonts-color: #757575;
    --logo-first-color: #2196f3;
    --logo-header-back-color: #000000;
    --logo-footer-back-color: #ffffff;
    --active-btn-fonts-color: #ffffff;
    --active-link-fonts-color: #2196f3;
    --main-svg-color: #afb1b8;
    /*background colours */
    --body-background-main-color: #e5e5e5;
    --header-background-color: #ffffff;
    --hero-background-color: #2f303a;
    --hero-btn-background-color: #2196f3;
    --body-additional-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --active-btn-background-color: #2196f3;
    --cards-background-color: #ffffff;
    /*border colors*/
    --header-botton-color: #ececec;
    --product-example-card-border: #eeeeee;
    /*distance between content*/
    --horisondal-content-offset-negative: -30px;
    --horisondal-content-offset-positive: 30px;
    --vertical-content-offset-negative: -30px;
    --vertical-content-offset-positive: 30px;
    --vertical-section-offset-negative: -94px;
    --vertical-section-offset-positive: 94px;
    /*times*/
    --animation-time: 250ms;
    /*sizes*/
    --portfolio-img-card-height: 294px;
    --portfolio-img-card-width: 370px;
  }
  